<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Maintenance Item Description</h1>
        <h3><%= item.itemDescription %></h3>
        <form action="/maintenance/<%= item.id %>?_method=PUT" method="POST">
            Item Description: <input type="text" name="itemDescription" value="<%= item.itemDescription %>" />
            Car Mileage: <input type="text" name="carMiles" value="<%= item.carMiles %>" />
            Notes: <input type="text" name="notes" value="<%= item.notes %>" />
            <input type="submit" value="Update Maintenance Item">
        </form><br><br><br><br>

        <a href="/car/<%= item.carId %>">Back to Car Details</a>

        <br><br><br><br><a href="/users/profile">Back to Profile</a>
    </body>
</html>