<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            img { width: 100px }
        </style>
    </head>
    <body>
        <h1>Welcome <%= users.name %></h1><br><br>

        <form action="/users/profile?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%= users.name %>" /><br>
            Username: <input type="text" name="username" value="<%= users.username %>"/><br>
            Password: <input type="password" name="password" value="<%= users.password %>"/><br><br>
            <input type="submit" value="Click to Edit Profile"><br><br><br><br>
        </form>

        <form action="/users/profile?_method=DELETE" method="POST">
            <input type="submit" value="Delete Your Profile" />
        </form>

        <h3>Your Vehicles</h3>

        <a href="/car/new">Add a car</a>

        <% for (let i=0; i < users.Cars.length; i++) { %>
            <li>
                <a href="/car/<%= users.Cars[i].id %>"><img src="<%= users.Cars[i].image %>" alt="picture of your car"/></a>
                <p><%= users.Cars[i].year %> <%= users.Cars[i].make %> <%= users.Cars[i].model %></p>
            </li>
        <% } %>

    </body>
</html>